name: Tests

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Make run_tests.sh executable
        run: chmod +x run_tests.sh

      - name: Run all tests
        run: ./run_tests.sh
