name: Tests

on:
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build test image
        run: docker build -f Dockerfile.test -t ainstruct-test .

      - name: Run tests
        run: docker run --rm ainstruct-test
